.footer {
  background: var(--color-black);
  color: var(--color-white);
  font-family: var(--font-emphasis);
  font-style: italic;
  padding: 12px;
}

.logoContainer {
  margin-left: 6%;
  margin-bottom: 1rem;
}

.fspLogo,
.nwuLogo {
  display: inline;
}

.fspLogo {
  height: 18%;
  width: 18%;
  margin-left: 12px;
}

.nwuLogo {
  height: 18%;
  width: 72%;
}

.footer > div {
  width: 70%;
  max-width: 40rem;
  margin-left: auto;
  margin-right: auto;
}

.attribution {
  margin-left: 0;
}

.timestamp {
  margin-left: 30%;
}

.georgia {
  margin-left: 50%;
}

.ella {
  margin-left: 45%;
}

@media screen and (max-width: 660px) {
  .footer > div {
    width: 100%;
  }

  .logoContainer {
    margin-left: 24px;
  }

  .attribution a,
  .georgia a,
  .ella a {
    white-space: nowrap;
  }

  .attribution {
    text-align: center;
  }

  .timestamp {
    text-align: right;
    margin-left: 30%;
  }

  .georgia {
    margin-left: 10%;
  }

  .ella {
    margin-left: 22%;
  }
}
