.footer {
  background: var(--color-black);
  color: var(--color-white);
  font-family: var(--font-emphasis);
  font-style: italic;
  padding: 12px;
}

.logoContainer {
  margin-bottom: 1rem;
}

.fspLogo,
.nwuLogo {
  display: inline;
}

.fspLogo {
  height: 18%;
  width: 18%;
  margin-left: 12px;
}

.nwuLogo {
  height: 18%;
  width: 72%;
}

.footer > div {
  width: 70%;
  max-width: 40rem;
  margin-left: auto;
  margin-right: auto;
}

.attribution {
  margin-left: 10%;
}

.georgia {
  margin-left: 50%;
}

.ella {
  margin-left: 33%;
}

@media screen and (max-width: 660px) {
  .footer > div {
    width: 100%;
  }

  .logoContainer {
    margin-left: 24px;
  }
}
