.rulerContainer {
  border-bottom: 1px solid var(--color-gray);
  background-color: var(--color-background);
}

.ruler {
  position: relative;
  height: 14px;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.cm,
.mm {
  position: absolute;
  border-left: 1px solid var(--color-gray);
  height: 14px;
  width: 10%;
}

.cm:first-child {
  border-left: unset;
}

.cm:after {
  position: absolute;
  top: -15px;
  font: 11px/1 sans-serif;
}

.mm {
  height: 5px;
  margin-top: 9px;
}

.cm:nth-of-type(1) {
  left: 0%;
}

.cm:nth-of-type(2) {
  left: 10%;
}

.cm:nth-of-type(3) {
  left: 20%;
}

.cm:nth-of-type(4) {
  left: 30%;
}

.cm:nth-of-type(5) {
  left: 40%;
}

.cm:nth-of-type(6) {
  left: 50%;
}

.cm:nth-of-type(7) {
  left: 60%;
}

.cm:nth-of-type(8) {
  left: 70%;
}

.cm:nth-of-type(9) {
  left: 80%;
}

.cm:nth-of-type(10) {
  left: 90%;
}

.cm:nth-of-type(11) {
  left: 100%;
}

.mm:nth-of-type(1) {
  left: 20%;
}

.mm:nth-of-type(2) {
  left: 40%;
}

.mm:nth-of-type(3) {
  left: 60%;
}

.mm:nth-of-type(4) {
  left: 80%;
}

.mm:nth-of-type(5) {
  left: 100%;
}
