.pullQuote {
  width: 20rem;
  font-weight: 600;
  padding: 2rem;
  font-size: 1.6rem;
}

.pullQuote q {
  /* padding: 2rem; */
}

.pullQuote br + span {
  text-align-last: end;
}

.pullQuoteRight {
  float: right;
  padding-right: 0;
}

.pullQuoteLeft {
  float: left;
  padding-left: 0;
}

.noPadding {
  padding: 0;
}

@media (max-width: 880px) {
  .pullQuote {
    width: unset;
  }
}
