:root {
  --max-width: 1100px;
  --border-radius: 12px;

  --color-red: #be4a57;
  --color-background: #344239;
  --color-black: #000101;
  --color-white: #fff;
  --color-gray: #707070;

  --callout-rgb: 238, 240, 241;
  --callout-border-rgb: 172, 175, 176;
  --card-rgb: 180, 185, 188;
  --card-border-rgb: 131, 134, 135;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  min-width: 100vw;
}

p,
i {
  font-size: 1.1rem;
}

h1 {
  color: var(--color-white);
  font-size: 3rem;
  text-transform: uppercase;
  padding: 0.5rem 0 0.25rem;
  margin-left: auto;
  margin-right: auto;
  width: max-content;
}

h3 {
  font-style: italic;
  text-transform: uppercase;
  border-bottom: 1px solid var(--color-red);
  width: fit-content;
  margin: 2rem 0 1rem;
}

a {
  color: var(--color-red);
}

footer {
  background: var(--color-black);
  color: var(--color-white);
  font-family: var(--font-emphasis);
  font-style: italic;
  padding: 12px;
}

footer div {
  width: 70%;
  max-width: 40rem;
  margin-left: auto;
  margin-right: auto;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

/* Josh Comeau's CSS Reset */
/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
  5. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
  6. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}
/*
  7. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/*
  8. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

header {
  margin: 1rem;
  font-size: 2rem;
}
