.pullQuoteRight {
  float: right;
  width: 20rem;
  font-weight: 600;
  padding: 2rem 0 2rem 2rem;
}

.pullQuoteLeft {
  float: left;
  width: 20rem;
  font-weight: 600;
  padding: 2rem 2rem 2rem 0;
}
