.lightContainerContent {
  width: 70%;
  max-width: 40rem;
  margin-left: auto;
  margin-right: auto;
  border-left: 1px solid var(--color-gray);
  border-right: 1px solid var(--color-gray);
  padding: 48px;
  color: var(--color-black);
}

.lightContainerContent p {
  margin: 1rem 0;
}

.lightContainerContent .subheader {
  color: var(--color-black);
  margin-top: 0;
}
